<html>
<meta http-equiv="refresh" content="120">
<nav>
    <a href="/">My Updated WebNovels</a> |
    <a href="/static/addFiction.html">Add a New WebNovel</a>
</nav>
<head>
    <title>{{ title }}</title>
</head>
<body>
<div>
    {% if fictionListLen > 0 %}
        {% for f in fictionList %}
            <h1>{{ f.get('name') }}</h1>
            {% for c in f.get('chapters') %}
                <a id="{{ c.url }}" href=" {{ c.url }}" onclick="MarkAsRead('{{ c.url }}')"
                   target="_blank"> {{ c.title }} </a> <br>
            {% endfor %}
        {% endfor %}
    {% else %}
        <h1> {{ sorry }}</h1>
    {% endif %}

</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script>

    function MarkAsRead(url) {
        var myJSON = {
            "chapter_url": url,
        };
        $.ajax({
            url: '/mark_chapter_as_read',
            data: myJSON,
            type: 'POST',
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


</script>
</html>